p {
	font-size: 12pt;
	text-indent: 2em;
	line-height: 1.5em;
	text-align: justify;
}
li p {
	text-indent: 0;
}
h1 {
	text-align: center;
	text-transform: capitalize;
}
hr {
	background-color: #EEE8D8;
	width:75%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
blockquote {
	margin:0;
	padding:0 2em 0 4em;
	border-left: 5px solid #EEE8D8;
}