html {
	background-color: #EEE8D8;
	height:100%;
}
a {
	color: #999;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
body {
	width: 640px;
	padding: 40px;
	padding-top: 10%;
	padding-bottom: 25%;
	margin: auto;
	background-color: #FFFFF0;
	color: #333;
	font-family: Georgia, Serif;
}
.copyright {
	margin-top: 2em;
	border-top: 1px solid #EEE8D8;
	padding: 1em;
	font-size:0.8em;
	text-align: center;
}
