// Make sure the charset is set appropriately
@charset "UTF-8";

@import "settings";

@import
  "components/code",
  "components/counters",
  "components/headers",
  "components/quotes",
  "components/toc",
  "components/typography",
  "components/print";

@font-face {
	font-family: ornaments;
	src: url('../fonts/Nymphette.ttf');
}
@media all {
	h1 {
		text-align: center;
		text-transform: capitalize;
	}
	h1:before { content: "k"; }
	h1:after  { content: "l"; }
	h1:before, h1:after {
		text-transform: none;
		font-family: 'ornaments';
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	h2:before, h3:before, h4:before, h5:before, h6:before {
		position: absolute;
		margin-left: -5.2em;
		width: 5em;
		text-align: right;
		font-variant: normal;
	}
}
@media screen, tv, projection {
	html {
		background-color: $background-color;
		height:100%;
	}
	body {
		font-size: 12px;
		width: 22em;
		padding: 2em;
		padding-top: 6.2em;
		padding-bottom: 10em;
		margin: auto;
		background-color: $body-color;
		color: #333;
	}
	body > a {
		top: -1.5em;
		position: relative;
	}
	p + p {
		margin-top: 1.5em;
	}
	a {
		color: #999;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	#colophon {
		font-variant: small-caps;
		letter-spacing: 0.1em;
		margin-top: 2em;
		border-top: 1px solid $background-color;
		padding: 1em;
		font-size:0.8em;
		text-align: center;
	}
	nav#toc {
		display: none;
	}
	.loading-indicator {
		animation:spin 0.5s linear infinite;
	}
	@keyframes spin {
		100% {
			transform:rotate(360deg);
		}
	}
}

body {
	@media screen and (min-width: 769px) and (max-width: 1024px) {
		font-size: 16px;
		width: 22em;
		padding: 6.2em;
		padding-bottom: 10em;
	}
	@media screen and (min-width: 1025px) {
		font-size: 16px;
		width: 33em;
		padding: 6.2em;
		padding-bottom: 10em;
		nav#toc {
			display: block;
		}
	}
	@media screen and (min-width: 1920px) {
		font-size: 18px;
	}
	@media tv, projection {
		font-size: 17px;
	}
	@media tv and (min-width: 1280px), projection and (min-width: 1280px) {
		font-size: 34px;
	}
	@media tv and (min-width: 1920px), projection and (min-width: 1920px) {
		font-size: 51px;
	}
}
@media print {
    #colophon, #toc, #raw-file {
        display: none;
    }
}
